<div class="row">
	<div class="col-lg-6 col-md-offset-3">
		<h3>Thanks for checking out my github page, <a href="https://mrmodise.com">see more demos</a></h3>
		<form class="well well-sm"
			(ngSubmit)="onSubmit(form.value)" [ngFormModel]="form"> 
			<div class="form-group">
				<label for="firstname">Name</label>
				<input type="text" class="form-control" ngControl="firstname" #name="ngForm" name="firstname" id="firstname" required>
				<div  [hidden]="name.valid || name.pristine" class="alert alert-danger">
					Name should have 6 or more characters without special characters
				</div>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" ngControl="email" name="email" required>
			</div>
			
			<div class="form-group">
				<label for="subject">Subject</label>
				<select class="form-control" ngControl="subject" name="subject" id="subject">
					<option value="complain">Complain</option>
					<option value="compliment">Compliment</option>
				</select>
			</div>
			<div class="form-group">
				<label for="message">Message</label>
				<textarea ngControl="message" #message="ngForm" name="message" cols="30" rows="10" class="form-control" required></textarea>
				<div [hidden]="message.valid || message.pristine" class="alert alert-danger">
					Message should be more than 10 characters long
				</div>
			</div>
			<div class="form-group">
			<!-- if any of the fields are not correctly captured, the button will be disabled -->
				<input type="submit" class="btn btn-success" value="Submit" [disabled]="!form.valid">
			</div>
		</form> 
</div>
</div>